:root {
    --dark-0: #121212;
    --dark-1: #252422;
    --dark-2: #403D39;
    
    --prim-0: #DD7631;
    --prim-1: #BB3B0E;

    --light-0: #FFF3CD;
    --light-1: #FFC38B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--light-0);
    background-color: var(--dark-0);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    background-color: var(--dark-1);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 8px rgba(0,0,0,0.16), 
                0 3px 6px rgba(0,0,0,0.24);
}

.navbar .navbar-brand {
    color: var(--light-0);
}
.navbar .navbar-brand:hover {
    color: var(--prim-0);
}

.navbar .navbar-nav li a,
.navbar .navbar-nav .open .dropdown-menu li a {
    color: var(--light-0);
    background-color: var(--dark-1);
}

.navbar .navbar-nav li:hover a,
.navbar .navbar-nav li.active:hover a {
    color: var(--prim-0);
    background-color: var(--dark-1);
}

.navbar .navbar-nav .active a {
    color: var(--prim-1);
    background-color: var(--dark-1);
}

.navbar .navbar-toggle:hover{
    background-color: var(--prim-0);
}

.navbar .navbar-toggle .icon-bar {
    background-color: var(--light-0);
}

.dropdown-menu {
    background-color: var(--prim-0);
}

.dropdown-header {
    color: var(--light-0);
    font-size: 15px;
    font-weight: 600;
    padding-left :10px;
}
.dropdown-menu li a {
    color: var(--light-0);
}

.navbar .navbar-nav .open a:hover,
.navbar .navbar-nav .open a:focus,
.navbar .navbar-nav>li:hover a,
.navbar .navbar-nav>li:focus a {
    background-color: var(--dark-1);
    color: var(--prim-0);
}

#content {
    background-color: var(--dark-1);
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,0.20), 
                0 0 6px rgba(0,0,0,0.32);
}

#content img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

#content p {
    text-align: justify;
}

#content a,
footer a,
footer a:hover {
    color: var(--prim-0);
    text-decoration: none;
}

#content a:hover {
    color: var(--prim-1);
}

#content h2 > a {
    color: var(--light-0);
}
#content h2 > a:hover {
    color: var(--prim-0);
}

#content img:not(.emoji) {
    display: block;
    max-width: 92.5%;
    height: auto;
    margin: 2em auto 2em auto;
    background-color: var(--dark-0);
    box-shadow: 0 0 6px rgba(0,0,0,0.20), 
                0 0 4px rgba(0,0,0,0.32);
    border-radius: 4px;
}

footer {
    margin-top: auto;
    background-color: var(--dark-1);
    font-size: 14px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 12px;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.16), 
                0 -3px 6px rgba(0,0,0,0.24);
}

blockquote footer {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

#post-tags {
    margin-top: 30px;
    color: var(--light-1);
}

#prev-next {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
}
#prev-next > #prev {
    margin: 0.3em 0;
    margin-right: auto;
}
#prev-next > #next {
    margin: 0.3em 0;
    margin-left: auto;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: var(--light-1);
}

#page-header {
    border-bottom: 1px solid var(--light-0);
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

#post-tags a {
    margin-left: 8px;
}

#comments {
    display: block;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .dropdown-menu>li>a {
        padding: 3px 20px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 50px 75px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar .navbar-brand {
        font-size: 30px;
    }
    #content{
        width: 92.5vw;
        padding: 13px;
        margin-bottom: 20px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
