{% extends "/html/base.html" %}
{%block subtitle %}Posts by {{author}} · {% endblock %}
{% block content %}
<div class="card">
    <div class="page-header">
        <h2>Posts by {{author}}</h2>
    </div>
    <div class="page-content">
        {% for group in groups %}
        <h4>{{group.group}}</h4>
        <ul>
        {% for post in group.posts %}
        <li>{{post.date|date:"MMM dd"}} - <a href="{{post.uri}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
